.popup__button{
    position: absolute;
    width: 32px;
    height: 32px;
    right:-40px;
    top: -40px;
    border: none;
    background:none;
    background-image: url(../../../images/Close\ Icon.svg);
}
@media (max-width:510px){
    .popup__button{
        width: 20px;
        height: 20px;
        top: -36px;
        right:0px;
    }
}