.header{
    margin: 45px 200px 0px;
    border: 1px solid rgba(84, 84, 84, 0.7);
    border-style: none none solid none;
    font-family: "Inter", arial, sans-serif;
}
@media (max-width: 950px){
    .header{
        margin: 45px 100px 0px;
    }
}
@media (max-width: 570px){
    .header{
        margin: 0;
        margin-top: 28px;
        padding-left: 27px;
    }
}